.loveletter
  :markdown
    # hi my name is ashley williams
    <br/>
    # i teach people how to be web developers at the [Flatiron School](http://flatironschool.com). i also organize an open source community of civic technologists in NYC with [Code for America](http://brigade.codeforameria.org). 
    <br/>
    # i [make things](/projects) for, and on, the internet. i write them primarily in ruby and javascript. most of my projects these days are tutorials for teaching people how to code, or tools that make it easier to learn.
    <br/>
    # i also [go to events and talk](/events) about civic technology, open data, open source community building, and developer education.
    <br/>
    # i am trying to get better about [writing my ideas down](/writing). 
    <br/>  
    # [say hi if you want](http://twitter.com/ag_dubs).

