%p
  :markdown
    # hi my name is ashley williams and i [make things](#projects) for, and on, the internet. i also [go to events and talk](#events) about civic technology, open data, open source community building, and developer education. i am trying to get better about writing my ideas down. 
    <br/>  
    # [say hi if you want.](http://twitter.com/ag_dubs)
#projects
  .row-fluid
    %h2 projects
    - @projects.take(3).each do |project|
      .span3
        - @project = project
        = partial(:project, @project)
  .sec-footer
    %a.pull-right{:href=>"/projects"}
      %h2 see more
#events
  .row-fluid
    %h2 events
    - @events.take(4).each do |event|
      .span4
        - @event = event
        = partial(:event, @event)
  .sec-footer
    %a.pull-right{:href=>"/events"}
      %h2 see more
