%h1 HEY<span class="pink">ASHLEY</span><span class="yellow">ASHLEY</span>
.loveletter
  :markdown
    hi my name is ashley williams

    i like to think about thinking, especially the type of thinking that happens when people write code.

    when i was in college at Wesleyan University, people called me ["the network"](http://wesleyanargus.com/2006/12/01/wesceleb-ashley-williams-%E2%80%9908/). as a freshman i inherited a dubiously-legal cardboard box held together with beer wrappers that ran some homespun instances of dc++, bang with friends, and an anonymous confession board. it was clearly the beginning of something beautiful.

    nowadays, i [make things](/#projects) for, and on, the internet. i write them primarily in ruby and javascript. most of my projects are tutorials for teaching people how to code, or tools that make it easier to learn.

    9 to 5 i'm roo(s)ting for the web at [Bocoup](http://bocoup.com); spending my time building curriculum, teaching teachers, and working on open source with one of the [raddest teams on the internet](http://about.bocoup.com/). before that, i used to teach people how to be web developers at the [Flatiron School](http://flatironschool.com) where i led the NYC web development fellowship. i also organize an open source community of civic technologists in NYC with [Code for America](http://brigade.codeforamerica.org). 

    sometimes i [go to events and talk](/#events) about civic technology, open data, open source community building, and developer education.

    i am trying to get better about [writing my ideas down](/#writing). 

    [say hi if you want](http://twitter.com/ag_dubs).
.row-fluid#projects
  %h2 projects
  - @projects.each do |project|
    %ul
      %li
        = project
.row-fluid#events
  %h2 events
  - @events.each do |event|
    %ul
      %li
        = event

