!!! 5
%html
  %head
    %title hey ashley ashley
    %link{:href=>"css/custom.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"http://fonts.googleapis.com/css?family=Oswald:400,700,300", :rel=>"stylesheet", :type=>"text/css"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    .container-fluid
      = yield
  = partial(:analytics)