body {
	font-family: monospace;
	background:
    linear-gradient(45deg, #F5F5F5 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #F5F5F5 45px, transparent 45px,transparent 91px, #ffffff 91px, #ffffff 135px, transparent 135px),
    linear-gradient(-45deg, #F5F5F5 23px, transparent 23px, transparent 68px,#F5F5F5 68px,#F5F5F5 113px,transparent 113px,transparent 158px,#F5F5F5 158px);
  	background-size: 128px 128px;
  	padding-bottom: 60px;
}
#background {
	background-image: url(/img/stars.jpg);
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	z-index: -1;
}
h1 {
	padding: 60px 0;
	font-size: 100px;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}
h2 {
	font-family: Oswald, Helvetica, Arial, sans-serif;
}
h3 {
	display: inline;
}
ul {
	list-style-type: none;
	font-size: 10px;
}
#projects, #events {
	margin: 0 auto;
	width: 75%;
}
a {
	color: white;
	background-color: pink;
	padding: 5px 10px;
	font-style: bold;
	&:hover{
		text-decoration: none;
		background-color: white;
		color: pink;
	}
}
img {
	text-align: center;
} 
.loveletter {
	margin: 0 auto;
	width: 75%;
	font-size: 20px;
	line-height: 1.5em;
	background: rgba(255,255,255,.6);
	padding: 10px 20px;
}
p:last-child a {
	color: black;
	background: yellow;
}

.yellow {
	color: yellow;
}
.pink {
	color: pink;
}
.portrait {
	width: 25%;
	margin: 20px auto;
	display: block;
	margin-bottom: -190px;
}